<launch>
  <!-- <arg name="input_point" default="/openni/depth_registered/points"/> -->
  <!-- <arg name="manager" default="/openni_nodelet_manager"/> -->

  <!-- <group ns="pcl_nodelet"> -->
  <!--    <node pkg="nodelet" type="nodelet" -->
  <!--         name="voxelgrid" -->
  <!--         args="load pcl/VoxelGrid $(arg manager)" -->
  <!--         output="screen" clear_params="true"> -->
  <!--     <remap from="~input" to="$(arg input_point)" /> -->
  <!--     <rosparam> -->
  <!--       filter_field_name: z -->
  <!--       filter_limit_min: 0.0 -->
  <!--       filter_limit_max: 5.0 -->
  <!--       leaf_size: 0.01 -->
  <!--     </rosparam> -->
  <!--   </node> -->
  <!--   <node pkg="nodelet" type="nodelet" -->
  <!--         name="particle_filter_tracker" -->
  <!--         args="load jsk_pcl/ParticleFilterTracking $(arg manager)" -->
  <!--         output="screen" clear_params="true"> -->
  <!--     <remap from="~input" to="/pcl_nodelet/voxelgrid/output" /> -->
  <!--   </node> -->
  <!-- </group> -->


  <node pkg="aginika_footprint_reconfigure" name="reconfigure_costmap_footprint" type="costmap_footorint_reconfigure" output="screen">
    <remap from="~input" to="/pcl_nodelet/particle_filter_tracker/track_result" />
    <param name="~consider_robotarms" type="bool" value="true"/>
    <param name="~consider_cloud" type="bool" value="false"/>
    <!-- <param name="~tf_names" value="/r_gripper_r_finger_link,/l_gripper_l_finger_link"/> -->
    <param name="~tf_names" value="/r_gripper_r_finger_link,/l_gripper_l_finger_link,/l_elbow_flex_link,/r_elbow_flex_link"/>
  </node>
</launch>
